.delivering {
	background-color: #014e56;
}
.delivering-text {
	padding-top: 140px;
	margin: 0;
	margin-bottom: 92px;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
}
.delivering-text-color {
	color: rgba(121, 200, 199, 1);
}
.delivering-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 151px;
	list-style: none;
	text-align: center;
}
.delivering-link {
	text-decoration: none;
	color: #fff;
}
.delivering-link h3 {
	color: #79c8c7;
}
.delivering-link p {
	font-weight: 600;
	font-size: 15px;
	line-height: 25px;
}
