.site-header {
    padding-top: 73px;
    padding: 29px;
    background-color: #014E56;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 80px;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-link,
.contact {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}

.contact {
    padding: 9px 32px 11px 32px;
    border: 2px solid #fff;
    border-radius: 24px;

    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
}